.env	
.DS_Store
cache/
artifacts/
coverage*
.vscode/*
node_modules/
node_modules
.env
yarn-error.log
yarn.lock
nohup.out
docs/
.openzeppelin
*.log
a.json
all*.json
test.json
error.json
dist/*.js
*.map
abis.json
